body
{
  background-color: #ffffff;
}
h1
{

}
h2
{

}
ul
{
  font-size: 16px;
}
.list
  font-family: "Ar Berkley";
  font-size: 1.5em;
}
img
{
    border-radius: 50%;
}
# wedding
{
  color: black;
}
# MySon
{
  color: blue;
}
# MyDaughter
{
  color: pink;
}
# Family
{
  color: red;
}
